body {
    font-family: sans-serif;
}

body {
    background-color: orange;
}

p {
    background-color: rgb(185, 113, 26);
}

h1 {
    background-color: rgb(185, 113, 26);
}


p {
    text-align:center;
   }

h1 {
    text-align:center;
   }   



body {
    text-align:center;
   }   
